.head {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.location {
  min-height: 591px;
}

@media (max-width: 1499px) {
  .location {
	min-height: 466px;
  }
}

@media (max-width: 767px) {
  .head {
	gap: 20px;
  }
}
