.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  grid-row: main;
}

@media (max-width: 1499px) {
  .main {
	gap: 80px;
  }
}

@media (max-width: 1099px) {
  .main {
	gap: 60px;
  }
}

@media (max-width: 767px) {
  .main {
	gap: 60px;
  }
}
