.main {
  display: flex;
  flex-direction: column;
  gap: 140px;
  grid-row: main;
}

@media (max-width: 1499px) {
  .main {
    gap: 120px;
  }
}

@media (max-width: 1023px) {
  .main {
    gap: 70px;
  }
}

@media (max-width: 767px) {
  .main {
    gap: 60px;
  }
}
