.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: var(--gray-100);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 767px) {
  .close {
	width: 36px;
	height: 36px;
  }

  .close svg {
	width: 16px;
	height: 16px;
  }
}
