.wrapper {
  display: grid;
  grid-template-rows: max-content 0fr;
  transition: grid-template-rows 0.2s ease-in;
}

.wrapper.show {
  grid-template-rows: max-content 1fr;
}

.wrapper.show .content {
  padding-top: 5px;
  padding-bottom: 10px;
  transition: padding-top 0.2s ease-in, padding-bottom 0.2s ease-in;
}

.head {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}

.head:hover,
.head:focus-visible {
  background-color: var(--gray-100);
}

.head:hover svg,
.head:focus-visible svg {
  color: var(--primary);
}

.title {
  font-size: 1.4rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 17px;
  padding: 0;
  color: var(--gray-700);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.icon.rotate {
  transform: rotate(90deg);
}

.content {
  overflow: hidden;
  transition: padding-top 0.2s ease-in, padding-bottom 0.2s ease-in;
}

@media (max-width: 1099px) {
  .head {
	padding: 20px 0;
  }

  .title {
	font-size: 1.6rem;
  }

  .wrapper.show .content {
	padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .title {
	font-size: 1.4rem;
  }
}
