.link {
  display: grid;
  grid-template-columns: 108px 1fr;
  align-items: center;
  row-gap: 6px;
  column-gap: 15px;
  font-weight: 300;
  font-size: 1.6rem;
  color: rgba(var(--white-rgb), 0.3);
  text-align: right;
}

.link:hover,
.link:focus-visible {
  color: var(--white);
}

.icon {
  align-self: center;
}

.year {
  grid-column: 2;
  justify-self: end;
  line-height: 1;
}

@media (max-width: 1499px) {
  .link {
	grid-template-columns: 88px 1fr;
	row-gap: 6px;
	column-gap: 10px;
	font-size: 1.3rem;
  }

  .icon {
	width: 76px;
	height: auto;
  }
}

@media (max-width: 1099px) {
  .link {
	grid-template-columns: 82px 1fr;
	font-size: 1.2rem;
  }

  .icon {
	width: 63px;
  }
}

@media (max-width: 767px) {
  .link {
	display: block;
	padding-bottom: 3px;
	font-size: 1.4rem;
	text-align: center;
	border-bottom: 1px solid rgba(var(--white-rgb), 0.2);
  }

  .year,
  .icon {
	display: none;
  }
}
