.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.search {
  max-width: 563px;
  width: 100%;
}


@media (max-width: 1499px) {
  .search {
	max-width: 380px;
  }
}

@media (max-width: 1099px) {
  .head {
	flex-direction: column;
	align-items: flex-start;
  }

  .search {
	max-width: none;
  }
}
