.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  font-weight: 500;
  line-height: 1;
  color: var(--gray-900);
  background: none;
  border: none;
  cursor: pointer;
}

.button.brSmall {
  border-radius: 10px;
}

.button.brMedium {
  border-radius: 15px;
}

.button.small {
  font-size: 1.4rem;
}

.button.medium {
  font-size: 1.8rem;
}

.button:not(.bg) {
  box-shadow: inset 0 0 0 1px var(--gray-200);
}

.button.primary {
  color: var(--primary);
}

.button.primary:hover,
.button.primary:focus-visible,
.button.primary.bg:hover,
.button.primary.bg:focus-visible {
  color: var(--primary-light);
  background-color: var(--primary);
}

.button.primary:not(.bg) {
  box-shadow: inset 0 0 0 1px var(--primary-light);
}

.button.primary:not(.bg):hover,
.button.primary:not(.bg):focus-visible {
  box-shadow: inset 0 0 0 1px var(--primary);
}

.button.primary.bg {
  background-color: var(--primary-light);
}

.button.primary2 {
  color: var(--primary-2);
}

.button.primary2:hover,
.button.primary2:focus-visible,
.button.primary2.bg:hover,
.button.primary2.bg:focus-visible {
  color: var(--primary-2-light);
  background-color: var(--primary-2);
}

.button.primary2:not(.bg) {
  box-shadow: inset 0 0 0 1px var(--primary-2-light);
}

.button.primary2:not(.bg):hover,
.button.primary2:not(.bg):focus-visible {
  box-shadow: inset 0 0 0 1px var(--primary-2);
}

.button.primary2.bg {
  background-color: var(--primary-2-light);
}


@media (max-width: 1499px) {
  .button {
	padding: 10px;
  }

  .button.medium {
	font-size: 1.6rem;
  }
}

@media (max-width: 1199px) {
  .button.medium {
	font-size: 1.4rem;
  }

  .button.small {
	font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
}
