.wrapper {
  padding-top: 40px;
}

.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 100px;
}

.page.white {
  padding-top: 100px;
  padding-bottom: 120px;
  margin-bottom: -120px;
  background-color: var(--white);
}

.page > *:not(.similar) {
  grid-column: 3/11;
}

.similar {
  grid-column: 1/-1;
}

.notFindCourse {
  margin-bottom: -90px;
}

@media (max-width: 1499px) {
  .page {
	row-gap: 80px;
  }

  .page.white {
	margin-bottom: -100px;
  }

  .page > *:not(.similar) {
	grid-column: 2/12;
  }
}

@media (max-width: 1099px) {
  .page {
	grid-template-columns: 100%;
	row-gap: 60px;
  }

  .page > *:not(.similar) {
	grid-column: initial;
  }

  .page.white {
	padding-top: 60px;
	padding-bottom: 80px;
	margin-bottom: -80px;
  }
}

@media (max-width: 767px) {
  .wrapper {
	padding-top: 20px;
  }

  .page {
	row-gap: 60px;
  }

  .notFindCourse {
	margin-bottom: -80px;
  }

  .page.white {
	padding-top: 50px;
	padding-bottom: 70px;
	margin-bottom: -70px;
  }
}
