.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 100px;
}

.page > * {
  grid-column: 3/11;
}

@media (max-width: 1499px) {
  .page {
	row-gap: 80px;
  }

  .page > * {
	grid-column: 2/12;
  }
}

@media (max-width: 1099px) {
  .page {
	grid-template-columns: 100%;
	row-gap: 60px;
  }

  .page > * {
	grid-column: initial;
  }
}

@media (max-width: 767px) {
  .page {
	row-gap: 60px;
  }
}
