.wrapper {
  padding-top: 40px;
}

.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 100px;
}

.page > *:not(.similar) {
  grid-column: 3/11;
}

.similar {
  grid-column: 1/-1;
}

@media (max-width: 1499px) {
  .page {
	row-gap: 80px;
  }

  .page > *:not(.similar) {
	grid-column: 2/12;
  }
}

@media (max-width: 1099px) {
  .page {
	grid-template-columns: 100%;
	row-gap: 60px;
  }

  .page > *:not(.similar) {
	grid-column: initial;
  }
}

@media (max-width: 767px) {
  .wrapper {
	padding-top: 20px;
  }

  .page {
	row-gap: 60px;
  }
}
