:root {
  --max-width: 2100px;

  /* date-picker */


  /* Paddings */
  --container-desktop-padding: 80px;
  --container-laptop-padding: 50px;
  --container-tablet-padding: 20px;
  --container-mobile-padding: 15px;

  /* Colors */

  --primary: #A13652;
  --primary-rgb: 161, 54, 82;
  --primary-light: #F9F1F3;
  --primary-hover: #D84168;
  --primary-2: #254885;
  --primary-2-light: #F0F9FF;

  --white: #fff;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;

  /* Gray */
  --gray-25: #FCFCFD;
  --gray-50: #F9FAFB;
  --gray-100: #F2F4F7;
  --gray-200: #E4E7EC;
  --gray-300: #D0D5DD;
  --gray-400: #98A2B3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1D2939;
  --gray-900: #101828;
  --gray-950: #0C111D;

  /* Other */
  --beige: #D6D4D4;

  --green: #4FAD50;

  --pink: #F8C4D1;

  /* Components */

  --timer-text: #CADDFE;

  --record-form-blur: #3059A0;

  --prices-blur: rgba(65, 119, 212, 0.69);

  --promo-registration: #3998A2;

  --subscribe: #FDE1AE;

  --footer-bg: #28292E;

  --other-prj-blue: #458FD2;
  --other-prj-green: #8AB56C;
  --other-prj-purple: #B375E3;

  --edu-item-border: #A94660;

  --filter-input-focus: #2FA4D7;

  --input-error: #F55858;
  --input-valid: #5AC96E;

  --answer-success-bg: #44AA7A;
  --answer-error-bg: #44AA7A;
}
