.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.wrapper:not(.noWrap) {
  flex-wrap: wrap;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 767px) {
  .textContent {
	gap: 15px;
  }
}
