.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 20px;
  font-size: 1.6rem;
  line-height: 1;
  color: var(--white);
  background-color: var(--gray-400);
  border-radius: 50px;
}

@media (max-width: 1023px) {
  .wrapper {
	padding: 15px 18px;
	font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
	padding: 13px 15px;
  }
}
