.wrapper {
  display: flex;
}

.mainLink {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--gray-50);
  border: 1px solid var(--gray-200);
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in;
}

.mainLink:hover,
.mainLink:focus-within {
  box-shadow: var(--card-hover);;
}

.mainLink.whiteBg {
  background-color: var(--white);
  border: none;
}

.mainLink.withPhoto .type {
  position: absolute;
  top: -40px;
}

.name {
  width: 100%;
}

.head {
  position: relative;
  flex-shrink: 0;
}

.speakers {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 150px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4rem;
}

.picture {
  display: flex;
}

.image {
  width: 100%;
  aspect-ratio: 2.1;
  object-fit: cover;
}

.wrapper.past .image {
  filter: grayscale(100%);
}

.wrapper.past .name {
  color: var(--gray-600);
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  padding: 20px;
}

.type {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  border-radius: 15px;
  color: var(--white, var(--gray-25));
  background-color: var(--primary-2);
}

.iconType {
  width: 14px;
  height: 14px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.name {
  font-size: 1.6rem;
}

.date,
.location {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--gray-600);
}

.date + .location {
  position: relative;
  padding-left: 13px;
}

.date + .location::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 3px;
  height: 3px;
  background-color: var(--gray-500);
  border-radius: 50%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 5px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}

.link {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.price {
  font-size: 1.8rem;
}

.duration {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--gray-400);
}

.complete {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.6rem;
  color: var(--green);
}

.complete::before {
  content: "";
  width: 24px;
  height: 25px;
  background-image: url("/img/components/course-short-item/complete.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1499px) {
}

@media (max-width: 1199px) {
  .inner {
	gap: 10px;
	padding: 10px;
  }

  .mainLink.withPhoto .type {
	top: -30px;
  }

  .speakers {
	gap: 5px;
	max-width: 116px;
	font-size: 1.2rem;
  }

  .type {
	padding: 3px 6px;
	font-size: 1.2rem;
  }

  .name {
	font-size: 1.4rem;
  }

  .date,
  .location {
	font-size: 1.3rem;
  }

  .date + .location::before {
	top: 5px;
  }

  .price {
	font-size: 1.6rem;
  }

  .duration {
	font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
  .mainLink {
	min-height: 176px;
  }

  .complete {
	font-size: 1.4rem;
  }

  .complete::before {
	width: 20px;
	height: 20px;
  }
}
