.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-50);
  border: 1px solid var(--gray-100);
  border-radius: 20px;
  overflow: hidden;
}

.wrapper.withPhoto.photoLeft {
  flex-direction: row;
}

.wrapper.whiteBg {
  background-color: var(--white);
  border: none;
}

.wrapper.withPhoto:not(.photoLeft) .type {
  position: absolute;
  top: -40px;
}

.wrapper.withPhoto.photoLeft .name {
  width: 100%;
}

.head {
  position: relative;
  flex-shrink: 0;
}

.speakers {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 150px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4rem;
}

.picture {
  display: flex;
}

.image {
  width: 100%;
}

.wrapper.withPhoto.photoLeft .speakers {
  display: none;
}

.wrapper.withPhoto.photoLeft .picture {
  padding: 20px 0 20px 20px;
}

.wrapper.withPhoto.photoLeft .image {
  border-radius: 15px;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  padding: 20px;
}

.type {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  border-radius: 15px;
  color: var(--white, var(--gray-25));
  background-color: var(--primary-2);
}

.iconType {
  width: 14px;
  height: 14px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.name {
  font-size: 1.6rem;
}

.date,
.location {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--gray-600);
}

.date + .location {
  position: relative;
  padding-left: 13px;
}

.date + .location::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 3px;
  height: 3px;
  background-color: var(--gray-500);
  border-radius: 50%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 5px;
}

.price {
  font-size: 1.8rem;
}

@media (max-width: 1499px) {
}

@media (max-width: 1199px) {
  .inner {
	gap: 10px;
	padding: 10px;
  }

  .wrapper.withPhoto.photoLeft .picture {
	padding: 10px;
  }

  .wrapper.withPhoto:not(.photoLeft) .type {
	top: -30px;
  }

  .speakers {
	gap: 5px;
	max-width: 116px;
	font-size: 1.2rem;
  }

  .type {
	padding: 3px 6px;
	font-size: 1.2rem;
  }

  .name {
	font-size: 1.4rem;
  }

  .date,
  .location {
	font-size: 1.3rem;
  }

  .date + .location::before {
	top: 5px;
  }

  .price {
	font-size: 1.6rem;
  }
}

@media (max-width: 767px) {
  .wrapper {
	min-height: 176px;
  }

  .wrapper.withPhoto.photoLeft .type {
	position: absolute;
	top: -30px;
  }

  .wrapper.withPhoto.photoLeft {
	flex-direction: column;
  }

  .wrapper.withPhoto.photoLeft .picture {
	padding: 0;
  }

  .wrapper.withPhoto.photoLeft .speakers {
	display: flex;
  }

  .wrapper.withPhoto.photoLeft .image {
	width: 100%;
	border-radius: 0;
  }
}
