.heading {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.1;
}

.fsDefault {
  font-size: 5.5rem;
}

.fsMid {
  font-size: 4.8rem;
}

.fsMini {
  font-size: 3.5rem;
}

.fsAsText {
  font-size: 1.8rem;
}

.undefined {
}

.fwMedium {
  font-weight: 500;
}

.fwNormal {
  font-weight: 400;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

@media (max-width: 1499px) {
  .fsDefault {
	font-size: 4rem;
  }

  .fsMid {
	font-size: 3.5rem;
  }

  .fsMini {
	font-size: 2.6rem;
  }
}

@media (max-width: 1199px) {
  .fsDefault {
	font-size: 3.5rem;
  }

  .fsMid {
	font-size: 3rem;
  }

  .fsMini {
	font-size: 2.3rem;
  }
}

@media (max-width: 767px) {
  .fsDefault {
	font-size: 2.3rem;
  }

  .fsMid {
	font-size: 2rem;
  }

  .fsMini {
	font-size: 1.8rem;
  }
}
