.avatars {
  display: flex;
}

.avatars:not(.oneSpeaker) {
  margin-left: -37px;

}

.avatar {
  width: 127px;
  height: 127px;
  object-fit: cover;
  object-position: top;
  flex-shrink: 0;
  border-radius: 50%;
}

.avatar:not(.oneSpeaker) {
  margin-right: -37px;
}

.title {
  margin-top: 30px;
}

.link {
  margin-top: 25px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.showAll {
  align-self: center;
  width: fit-content;
  padding: 15px 84px;
  font-size: 1.8rem;
  background-color: var(--gray-200);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.showAll:hover,
.showAll:focus-visible {
  background-color: var(--gray-300);
}

@media (min-width: 1500px) {
  .list:not(.show) .item:nth-child(n + 9) {
	display: none;
  }
}

@media (max-width: 1499px) {
  .title {
	margin-top: 10px;
  }

  .link {
	margin-top: 15px;
  }

  .list {
	grid-template-columns: repeat(3, 1fr);
  }

  .list:not(.show) .item:nth-child(n + 7) {
	display: none;
  }

  .showAll {
	padding: 10px 72px;
	font-size: 1.6rem;
  }
}

@media (max-width: 1199px) {
  .avatar {
	width: 110px;
	height: 110px;
  }

  .avatars:not(.oneSpeaker) {
	margin-left: -20px;
  }

  .avatar:not(.oneSpeaker) {
	margin-right: -20px;
  }

  .title {
	margin-top: 20px;
  }

  .list {
	grid-template-columns: repeat(2, 1fr);
  }

  .showAll {
	padding: 10px 78px;
	font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  .avatar {
	width: 90px;
	height: 90px;
  }

  .title {
	margin-top: 10px;
  }

  .link {
	margin-top: 20px;
  }

  .list {
	grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  }

  .showAll {
	width: 100%;
	padding: 10px 40px;
  }
}
