.wrapper {
  display: flex;
  gap: 20px;
}

.img {
  flex-shrink: 0;
  height: 103px;
  width: auto;
  object-fit: contain;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
