.wrapper {
  display: flex;
  gap: 20px;
}

.img {
  flex-shrink: 0;
  height: 103px;
  width: auto;
  object-fit: contain;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wrapper.white .name,
.wrapper.white .link {
  color: var(--white);
}

@media (max-width: 767px) {
  .img {
	height: 80px;
  }

  .content {
	gap: 10px;
  }
}
