.text {
  max-width: 1007px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1023px) {
  .list {
	grid-template-columns: repeat(3, 308px);
	padding-left: var(--container-tablet-padding);
	padding-right: var(--container-tablet-padding);
	margin-left: calc(0px - var(--container-tablet-padding));
	margin-right: calc(0px - var(--container-tablet-padding));
	overflow-y: auto;
	scrollbar-color: transparent transparent;
	scrollbar-width: none;
  }

  .list::-webkit-scrollbar {
	width: 0;
	height: 0;
	background-color: transparent;
  }
}

@media (max-width: 767px) {
  .list {
	gap: 15px;
	padding-left: var(--container-mobile-padding);
	padding-right: var(--container-mobile-padding);
	margin-left: calc(0px - var(--container-mobile-padding));
	margin-right: calc(0px - var(--container-mobile-padding));
  }

  .info {
	margin-top: -5px;
  }
}

@media (max-width: 530px) {
  .list {
	grid-template-columns: repeat(3, calc(100% - 60px));
  }
}

