.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper > h2:not(:first-child) {
  margin-top: 60px;
}

.wrapper > h2 {
  font-weight: 400;
  font-size: 5.5rem;
}

.wrapper > p,
.wrapper > ul > li,
.wrapper > ol > li {
  font-weight: 300;
  font-size: 2rem;
}

.wrapper > ul,
.wrapper > ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper > ul {
  padding-left: 20px;
}

@media (max-width: 1499px) {
  .wrapper > h2 {
	font-size: 4rem;
  }

  .wrapper > p {
	font-size: 1.8rem;
  }
}

@media (max-width: 1199px) {
  .wrapper > h2:not(:first-child) {
	margin-top: 40px;
  }

  .wrapper > h2 {
	font-size: 3.5rem;
  }

  .wrapper > p {
	font-size: 1.6rem;
  }
}

@media (max-width: 767px) {
  .wrapper {
	gap: 15px;
  }

  .wrapper > h2:not(:first-child) {
	margin-top: 35px;
  }

  .wrapper > h2 {
	font-size: 2.3rem;
  }

  .wrapper > p {
	font-size: 1.4rem;
  }
}
