.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 430px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 648px;
  padding: 50px 40px;
  border-radius: 50px;
  background-color: var(--white);
}

.head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  color: var(--primary);
}

.position {
  color: var(--primary);
}

.slider {
  position: relative;
  width: 100%;
  margin-top: -20px;
}

.slideContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.4;
  hyphens: auto;
}

.slideContent > * {
  margin-top: 0;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.pagination {
  display: flex;
  gap: 8px;
}

.paginationItem {
  width: 10px;
  height: 10px;
  background-color: var(--gray-200);
  border-radius: 50%;
}

.paginationItem.active {
  background-color: var(--primary);
}

.workExperience {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 1.8rem;
  line-height: 1.4;
}

.workExperience::before {
  content: "";
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-image: url("/img/components/speaker/education.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.preview {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: contain;
}

.edu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.eduHead {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.eduList {
  display: grid;
  column-gap: 40px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cite {
  display: flex;
  gap: 15px;
  margin: -30px 0 0;
  padding: 30px 40px;
  font-weight: 300;
  font-size: 1.8rem;
  font-style: italic;
  background-color: var(--white);
  border-radius: 40px;
}

.cite::before {
  content: "";
  display: flex;
  flex-shrink: 0;
  width: 31px;
  height: 31px;
  background-image: url("/img/components/speaker/cite.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 1499px) {
  .eduList {
	grid-template-columns: repeat(2, 1fr);
  }

  .eduList .eduItem:nth-child(n + 3) {
	padding-top: 30px;
	border-top: 1px solid var(--gray-200);
  }
}

@media (min-width: 1500px) {
  .eduList {
	grid-template-columns: repeat(3, 1fr);
  }

  .eduList .eduItem:nth-child(n + 4) {
	padding-top: 30px;
	border-top: 1px solid var(--gray-200);
  }
}

@media (max-width: 1499px) {
  .inner {
	grid-template-columns: 1fr 400px;
  }

  .content {
	gap: 20px;
	min-height: 560px;
	padding: 40px;
	border-radius: 40px;
  }

  .preview {
	border-radius: 40px;
  }

  .cite {
	font-size: 1.7rem;
  }

  .slider {
	position: relative;
	width: 100%;
	margin-top: -10px;
  }
}

@media (max-width: 1199px) {
  .wrapper {
	gap: 40px;
  }

  .inner {
	grid-template-columns: 100%;
  }

  .preview {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	overflow: hidden;
  }

  .video,
  .picture {
	position: static;
	width: 100%;
	height: auto;
  }

  .picture {
	aspect-ratio: 2.5;
  }

  .content {
	min-height: 380px;
  }

  .edu {
	gap: 30px;
  }

  .cite {
	margin-top: -20px;
	padding: 30px;
	font-size: 1.6rem;
  }

  .cite::before {
	width: 27px;
	height: 27px;
  }
}

@media (max-width: 767px) {
  .wrapper {
	gap: 60px;
  }

  .content {
	padding: 20px;
	border-radius: 20px;
  }

  .slide p {
	font-size: 1.4rem;
  }

  .preview {
	border-radius: 20px;
  }

  .eduHead {
	gap: 10px;
  }

  .eduList {
	gap: 20px;
  }

  .eduList .eduItem:not(:first-child) {
	padding-top: 20px;
	border-top: 1px solid var(--gray-200);
  }

  .cite {
	flex-direction: column;
	gap: 3px;
	margin-top: -40px;
	padding: 20px;
	font-size: 1.4rem;
  }

  .cite::before {
	width: 27px;
	height: 27px;
	margin-top: -30px;
  }
}
