.link {
  width: fit-content;
  font-size: 1.8rem;
}

.blue {
  color: var(--other-prj-blue);
}

.green {
  color: var(--other-prj-green);
}

.purple {
  color: var(--other-prj-purple);
}

.blue:hover,
.blue:focus-visible {
  color: var(--other-prj-blue-hov);
}

.green:hover,
.green:focus-visible {
  color: var(--other-prj-green-hov);
}

.purple:hover,
.purple:focus-visible {
  color: var(--other-prj-purple-hov);
}

@media (max-width: 1499px) {
  .link {
	font-size: 1.6rem;
  }
}

@media (max-width: 767px) {
  .link {
	font-size: 1.4rem;
  }
}
