.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .list {
	/*justify-content: space-between;*/
  }
}
