.header {
  grid-row: header;
  padding-top: 20px;
}

.header.blur {
  z-index: 2;
}

.logo {
  width: 142px;
  height: 42px;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 30px;
  padding: 25px 30px;
  background-color: var(--white);
  border-radius: 50px;
}

.header.white .wrapper {
  border: 1px solid var(--gray-200);
}

.header.gray .wrapper {
  box-shadow: 0 8px 30px 0 rgba(229, 235, 243, 0.51);
}

.header.blur .wrapper {
  background-color: rgba(var(--white-rgb), 0.3);
  backdrop-filter: blur(30px)
}

.left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user {
  display: flex;
  gap: 20px;
}

.buttonIcon {
  width: 16px;
  height: 16px;
}

.navigationLink {
  transition: opacity ease-in 0.2s;
}

.navigation:has(.navigationLink:hover) .navigationLink:not(:hover) {
  opacity: 0.5;
}

@media (max-width: 1499px) {
  .container {
	margin-left: 20px;
	margin-right: 20px;
  }

  .wrapper {
	padding: 15px 25px;
  }

  .logo {
	width: 118px;
	height: 35px;
  }
}

@media (max-width: 1199px) {
  .container {
	margin-left: 15px;
	margin-right: 15px;
  }

  .wrapper {
	gap: 20px;
	padding: 10px 10px 10px 12px;
  }

  .left {
	gap: 20px;
	padding-left: 15px;
  }

  .buttonText {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
  }

  .buttonIcon {
	width: 30px;
	height: 30px;
  }

  .user {
	gap: 15px;
  }
}

@media (max-width: 767px) {
  .header.gray .wrapper {
	box-shadow: none;
  }

  .header.white .wrapper {
	border: none;
  }

  .header.blur .wrapper {
	background-color: transparent;
	backdrop-filter: none;
  }

  .wrapper {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	column-gap: 0;
	row-gap: 15px;
	padding: 0;
	background-color: initial;
	border-radius: 0;
	box-shadow: none;
  }

  .navigation {
	grid-row: 2;
	grid-column: 1/-1;
	padding-left: 26px;
	max-width: 314px;
	width: 100%;
  }

  .left,
  .user {
	padding-top: 10px;
	padding-bottom: 10px;
  }

  .header.white .left,
  .header.white .user {
	border: 1px solid var(--gray-200);
  }

  .header.white .left {
	border-right: none;
  }

  .header.white .user {
	border-left: none;
  }

  .header:not(.blur) .left,
  .header:not(.blur) .user {
	background-color: var(--white);
  }

  .header.blur .left::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 69px;
	background-color: rgba(var(--white-rgb), 0.3);
	border-radius: 50px;
	backdrop-filter: blur(30px);
  }

  .header.blur .wrapper > *,
  .header.blur .wrapper .catalog,
  .header.blur .wrapper .logo {
	z-index: 1;
  }

  .left {
	gap: 15px;
	padding-left: 25px;
	padding-right: 5px;
	border-radius: 50px 0 0 50px;
  }

  .user {
	justify-content: flex-end;
	gap: 10px;
	padding-right: 10px;
	border-radius: 0 50px 50px 0;
  }

  .logo {
	width: 105px;
	height: 31px;
  }
}

@media (max-width: 380px) {
  .header.blur .left::before {
	height: 48px;
  }

  .left,
  .user {
	padding-top: 5px;
	padding-bottom: 5px;
  }

  .left {
	padding-left: 5px;
  }

  .user {
	gap: 5px;
	padding-right: 6px;
  }

  .logo {
	margin-left: 10px;
  }

  .buttonIcon {
	width: 25px;
	height: 25px;
  }
}
