.inputWrapper {
  display: flex;
  align-items: center;
  height: 74px;
  padding: 0 30px;
  border-radius: 15px;
}

.inputWrapper.white {
  background-color: var(--white);
}

.inputWrapper.gray {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-200);
}

.input {
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: inherit;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  outline: none;
}

.input::placeholder {
  color: var(--gray-400);
}

.inputWrapper:hover .input::placeholder {
  color: var(--primary);
}

.inputWrapper:has(.input:not(:placeholder-shown)) {
  border-color: var(--filter-input-focus);
}

@media (max-width: 1499px) {
  .inputWrapper {
	height: 55px;
	padding: 0 20px;
  }

  .input {
	font-size: 1.8rem;
  }
}

@media (max-width: 1199px) {
  .input {
	font-size: 1.6rem;
  }
}

@media (max-width: 767px) {
  .input {
	font-size: 1.4rem;
  }
}
