.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  height: 74px;
  padding: 0 30px;
  width: 100%;
  font-family: inherit;
  font-size: 2rem;
  background-color: inherit;
  border: 1px solid transparent;
  border-radius: 15px;
  outline: none;
}

.input.white {
  background-color: var(--white);
}

.input.gray {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-200);
}

.input.valid {
  border-color: var(--input-valid);
}

.input::placeholder {
  color: var(--gray-400);
}

.inputWrapper:hover .input::placeholder {
  color: var(--primary);
}

.input:not(:placeholder-shown) {
  border-color: var(--filter-input-focus);
}

.input.error {
  border-color: var(--input-error);
}

.errorMessage {
  font-size: 1.6rem;
  color: var(--input-error);
}

@media (max-width: 1499px) {
  .input {
	height: 55px;
	padding: 0 20px;
	font-size: 1.8rem;
  }
}

@media (max-width: 1199px) {
  .inputWrapper {
	gap: 7px;
  }

  .input {
	font-size: 1.6rem;
  }

  .errorMessage {
	font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  .input {
	font-size: 1.4rem;
  }

  .errorMessage {
	font-size: 1.3rem;
  }
}
