.container {
  padding-left: var(--container-desktop-padding);
  padding-right: var(--container-desktop-padding);
}

@media (max-width: 1499px) {
  .container {
	padding-left: var(--container-laptop-padding);
	padding-right: var(--container-laptop-padding);
  }
}

@media (max-width: 1199px) {
  .container {
	padding-left: var(--container-tablet-padding);
	padding-right: var(--container-tablet-padding);
  }
}

@media (max-width: 767px) {
  .container {
	padding-left: var(--container-mobile-padding);
	padding-right: var(--container-mobile-padding);
  }
}
