.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  width: 100%;
  height: 196px;
  border-radius: 40px;
  object-fit: cover;
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
}

.title {
  font-size: 2.3rem;
}

.title.blue {
  color: var(--amrita);
}

.title.purple {
  color: var(--tezis);
}

.title.green {
  color: var(--service-center);
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  margin: auto 10px 0;
  padding: 11px 15px;
  font-size: 1.4rem;
  border-radius: 10px;
}

.link.blue {
  background-color: var(--amrita-bg);
  color: var(--amrita);
}

.link.purple {
  background-color: var(--tezis-bg);
  color: var(--tezis);
}

.link.green {
  background-color: var(--service-center-bg);
  color: var(--service-center);
}

@media (max-width: 1499px) {
}

@media (max-width: 1023px) {
  .list {
	grid-template-columns: repeat(3, 367px);
	gap: 20px;
	margin-right: calc(0px - var(--container-tablet-padding));
	margin-left: calc(0px - var(--container-tablet-padding));
	padding-right: var(--container-tablet-padding);
	padding-left: var(--container-tablet-padding);
	overflow-y: auto;
	scrollbar-color: transparent transparent;
	scrollbar-width: none;
  }
}

@media (max-width: 767px) {
  .list {
	margin-right: calc(0px - var(--container-mobile-padding));
	margin-left: calc(0px - var(--container-mobile-padding));
	padding-right: var(--container-mobile-padding);
	padding-left: var(--container-mobile-padding);
  }

  .title {
	font-size: 1.7rem;
  }
}
