.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 1199px) {
  .list {
    gap: 70px;
  }
}

@media (max-width: 767px) {
  .list {
    gap: 60px;
  }
}
