.container {
  padding-left: 50px;
  padding-right: 50px;
}

.head {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.slider {
  width: 100%;
  overflow: visible;
}

.image {
  width: 100%;
  border-radius: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

@media (max-width: 1499px) {
}

@media (max-width: 1199px) {
  .container {
	padding-left: 20px;
	padding-right: 20px;
  }

  .buttons {
	display: none;
  }
}

@media (max-width: 767px) {
  .head {
	justify-content: center;
  }

  .title {
	text-align: center;
  }
}
