.content {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 20px;
}

.title {
  max-width: 606px;
  color: var(--white);
}

.options {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 100px;
  margin: 0;
}

.optionItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.termin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  height: 143px;
  font-size: 3.8rem;
  color: var(--white);
  background-image: url("/img/components/reviews/radial.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.description {
  font-size: 2rem;
  color: var(--white);
}
