.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 23px 40px;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.button.primaryLight {
  color: var(--primary);
  background-color: var(--primary-light);
}

.button:disabled {
  color: var(--white);
  background-color: var(--gray-400);
  cursor: initial;
}

@media (max-width: 1499px) {
  .button {
	padding: 18px 30px;
	font-size: 1.6rem;
  }
}


@media (max-width: 530px) {
  .button {
	font-size: 1.4rem;
  }
}
