.promo {
  margin-top: -134px;
}

.learning + .notFindCourse,
.purple + .white {
  margin-top: -135px;
}

.purple + .white {
  padding-bottom: 175px;
}

@media (max-width: 1199px) {
  .learning + .notFindCourse,
  .purple + .white {
	margin-top: -90px;
  }

  .purple + .white {
	padding-bottom: 130px;
  }
}

@media (max-width: 767px) {
  .directions {
	margin-bottom: -12px;
  }

  .learning + .notFindCourse,
  .purple + .white {
	margin-top: -75px;
  }

  .purple + .white {
	padding-bottom: 105px;
  }
}
