.content {
  max-width: 893px;
  max-height: calc(100vh - 150px);
  padding-right: 20px;
  line-height: 1.4;
  overflow-y: auto;
}

.content::-webkit-scrollbar-button {
  height: 18px;
}

.content::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.content::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: var(--gray-400);
  border-radius: 50px;
}

.content > *:not(.title) {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

.content > ol {
  list-style: none;
  padding-left: 0;
  counter-reset: count 0;
}

.content > ol > li {
  counter-increment: count 1;
}

.content > ol > li::before {
  content: counter(count) ". ";
  position: relative;
}

.title {
  margin-bottom: 15px;
  font-weight: 600;
}

@media (max-width: 1499px) {
  .content > *:not(.title) {
	font-size: 1.6rem;
  }
}

@media (max-width: 1023px) {
  .content {
	max-width: 558px;
  }
}

@media (max-width: 767px) {
  .content {
	max-width: 558px;
	max-height: calc(100vh - 70px);
  }

  .content > *:not(.title) {
	font-size: 1.4rem;
  }
}
