.theme-list[class] {
  list-style: none;
  padding: 0;
}

.theme-list[class] > li {
  display: flex;
  gap: 10px;
  height: fit-content;
  padding: 10px 15px;
  font-size: 1.7rem;
  background-color: var(--white);
  border-radius: 15px;
  break-inside: avoid;
}

.theme-list[class] > li::before {
  position: relative;
  top: 7px;
  content: "";
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  background-color: var(--primary);
  border-radius: 50%;
}

@media (max-width: 1199px) {
  .theme-list[class] > li {
	font-size: 1.6rem;
  }
}
