.link {
  align-self: center;
}

.icon {
  flex-shrink: 0;
}

.container {
  position: relative;
}

.slider[class] {
  align-items: stretch;
  overflow: visible;
}

.slide[class] {
  height: auto;
}

.buttons {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: calc(100% - (var(--container-desktop-padding) * 2) + 44px);
  margin-left: -22px;
  transform: translateY(-50%);
  touch-action: none;
  pointer-events: none;
  z-index: 1;
}

.buttons > * {
  touch-action: auto;
  pointer-events: all;
}

@media (max-width: 1499px) {
  .buttons {
	width: calc(100% - (var(--container-laptop-padding) * 2) + 44px);
  }
}

@media (max-width: 1199px) {
  .slide[class] {
	width: 350px;
  }

  .buttons {
	display: none;
  }
}

@media (max-width: 767px) {
  .slide[class] {
	width: calc(100% - var(--container-mobile-padding));
  }

  .list {
	grid-template-columns: 290px;
	grid-auto-columns: 290px;
	grid-auto-flow: column;
	gap: 10px;
	padding-left: var(--container-mobile-padding);
	padding-right: var(--container-mobile-padding);
	margin-left: calc(0px - var(--container-mobile-padding));
	margin-right: calc(0px - var(--container-mobile-padding));
  }
}
