.wrapper {
  display: grid;
  grid-template-columns: 1fr 35%;
  padding: 10px 10px 10px 70px;
  border-radius: 40px;
  background-color: var(--gray-100);
}

.contentText {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
