.wrapper {
  display: grid;
  grid-template-columns: 1fr 43%;
  gap: 60px;
  align-items: center;
  min-height: 500px;
  padding: 10px 10px 10px 70px;
  border-radius: 40px;
  background-color: var(--gray-100);
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.title {
  color: var(--primary);
}

.button {
  margin-top: 12px;
}

.positions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.position {
  padding: 10px;
  font-size: 1.8rem;
  line-height: 1;
  color: var(--primary);
  background-color: var(--white);
  border-radius: 50px;
}

.speciality {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.specialityTitle {
  color: var(--gray-400);
}

.picture {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.image {
  height: 100%;
  width: auto;
  object-fit: contain;
  object-position: bottom;
}

@media (max-width: 1499px) {
  .wrapper {
	grid-template-columns: 1fr 36%;
	min-height: 453px;
	padding-left: 50px;
  }

  .position {
	font-size: 1.6rem;
  }
}

@media (max-width: 1099px) {
  .wrapper {
	grid-template-columns: 100%;
	grid-template-rows: 200px auto;
	gap: 40px;
	padding: 10px 10px 40px;
  }

  .textContent {
	padding-left: 30px;
	padding-right: 30px;
  }

  .picture {
	grid-row: 1;
  }
}

@media (max-width: 530px) {
  .wrapper {
	grid-template-rows: 150px auto;
	gap: 25px;
	padding-bottom: 20px;
	border-radius: 20px;
  }

  .textContent {
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
  }

  .positions {
	justify-content: center;
  }

  .position {
	font-size: 1.4rem;
  }

  .picture {
	border-radius: 15px;
  }

  .button {
	width: 100%;
  }
}
