.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 40px;
  padding: 70px;
  background-image: url("/img/common/smile.svg");
  background-color: var(--primary-2);
  background-repeat: no-repeat;
  background-position: calc(100% - 26px) calc(100% - 86px);
  background-size: 1071px 426px;
  border-radius: 50px;
  overflow: hidden;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title,
.text {
  z-index: 1;
  color: var(--white)
}

.title {
  line-height: 1.1;
}

.footer {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
}

.footer > * {
  z-index: 1;
}

.footer::before {
  position: absolute;
  content: "";
  left: -91px;
  top: -56px;
  display: block;
  width: 535px;
  height: 182px;
  background-color: var(--record-form-blur);
  filter: blur(146px);
}

.form {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  gap: 20px;
  margin-top: 23px;
}

.formFooter {
  display: flex;
  gap: 20px;
  align-items: center;
  grid-column: 1/-1;
}

.footNote {
  max-width: 262px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.4rem;
  color: rgba(var(--white-rgb), 0.5);
}

.footNote a {
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(var(--white-rgb), 0.5);
}

@media (max-width: 1499px) {
  .wrapper {
	grid-template-columns: 1fr 0.9fr;
	gap: 115px;
	padding: 60px;
	background-position: calc(100% + 37px) calc(100% - 135px);
	background-size: 718px 286px;
	border-radius: 40px;
  }

  .textContent {
	gap: 15px;
  }

  .footer {
	margin-top: 5px;
  }

  .form {
	display: grid;
	grid-template-columns: 100%;
	gap: 15px;
	margin-top: 10px;
  }
}

@media (max-width: 1199px) {
  .wrapper {
	grid-template-columns: 100%;
	gap: 40px;
	padding: 40px;
	background-position: calc(50% - 25px) calc(100% - 219px);
  }

  .textContent {
	gap: 10px;
  }

  .footer {
	margin-top: 15px;
  }

  .footer::before {
	left: -34px;
	top: 14px;
	width: 359px;
	height: 122px;
  }

  .form {
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
	row-gap: 20px;
	margin-top: 0;
  }
}

@media (max-width: 767px) {
  .wrapper {
	grid-template-columns: 100%;
	gap: 40px;
	padding: 40px 20px;
	background-position: calc(50% - 25px) calc(100% - 219px);
  }

  .textContent {
	text-align: center;
  }

  .footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
  }

  .form {
	grid-template-columns: 100%;
	gap: 10px;
  }

  .formFooter {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;
  }

  .footNote {
	max-width: none;
	font-size: 1.2rem;
	text-align: center;
  }

  .submit {
	width: 100%;
  }
}

