.wrapper {
  display: grid;
  grid-template-columns: 1fr 53%;
  gap: 90px;
  padding: 20px;
  background-color: var(--gray-100);
  border-radius: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 50px;
}

.title {
  margin-bottom: 10px;
  color: var(--primary);
}

.address {
  margin-bottom: 15px;
  font-style: normal;
  font-size: 2rem;
  color: var(--primary);
}

.workHours {
  margin-bottom: 20px;
}

.map {
  border-radius: 30px;
  overflow: hidden;
}

.footer {
  display: flex;
  gap: 40px;
  padding-top: 20px;
  margin-top: auto;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact {
  font-size: 2.6rem;
}

.contact:hover,
.contact:focus-visible {
  color: var(--primary);
}

@media (max-width: 1499px) {
  .wrapper {
	grid-template-columns: 1fr 47%;
	gap: 60px;
  }

  .content {
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
  }

  .title {
	margin-bottom: 15px;
  }

  .address {
	font-size: 1.8rem;
	margin-bottom: 20px;
  }

  .contact {
	font-size: 2.3rem;
  }
}
